<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .authorisation{
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }
        .authorisation h1{
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }
        .authorisation input[type="password"],
        .authorisation input[type="text"]{
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing:border-box;
        }
        .authorisation button[type="submit"]{
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
    </style>
</head>
<body>
<div class="authorisation">
    <h1>Authorisation</h1>
    <form name="regestration" method="post" action="/regestrationAction">
        <label>Логін</label><br>
        <input type="text" name="userName" /><br><br>
        <label>Пароль</label><br><br>
        <input type="password" name="userPass" /><br><br>
        <label>Підтвердження пароля</label><br><br>
        <input type="password" name="userPassNew" /><br><br>
        <label>Email</label><br>
        <input type="text" name="userEmail" /><br><br>
        <button type="submit" id="submitReg">Зареєструватись</button><br><br>
    </form>
    <% if(locals.message){ %>
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> <%=message.success%>
    </div>
    <% } %>
</div>
</body>
</html>