</
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {background-color:#98bfd5;}
        .editProfile{
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }
        .editProfile h1{
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }
        .editProfile input[type="password"],
        .editProfile input[type="text"]{
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing:border-box;
        }
        .editProfile button[type="submit"]{
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
    </style>
</head>
<body>
<div class="editProfile">
    <h1>Edit</h1>
        <form name="edit" method="post" action="/editProfile">
        <label>Логін</label><br>
        <input type="text" name="userName" value="<%= userList[0].userName%>"/><br><br>
        <label>Пароль</label><br><br>
        <input type="password" name="userPass" value="<%= userList[0].userPass%>" /><br><br>
        <label>Email</label><br>
        <input type="text" name="userEmail" value="<%= userList[0].userEmail%>"/><br><br>
        <button type="submit" id="submitReg">Обновити</button><br><br>
    </form>
</div>
</body>
</html>