<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {background-color:#98bfd5;}
        h1 {color:#494949}
    </style>
</head>
<body>
<div style="position: absolute; right: 20px">
<%- include("header/menu.ejs") %>
</div>
<h1>Main page</h1>
<% if(status) {%>
    <h1 style="color: green">Інформаці до БД додана успішно!!!</h1>
<%}%>
</body>
</html>