<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {background-color:#98bfd5;}
        h1 {color:#494949}
    </style>
</head>
<body>
</div>
<!-- <p style="color: blue">Id: <users[0].userId%> </p>-->


<% usersList.forEach((value)=>{ %>
<div style="position: absolute; right: 20px">
    <nav><a href="/">Вийти</a> | <a href="/enterUsers/:<%=value.userId %>">Редагувати профіль</a></nav>
</div>
<h3 style="color: blue; position: absolute; right: 20px;">Login: <%= value.userName %></h3>
<% }); %>

<% if(status) {%>
    <p><h2 style="color: green; cursor: pointer; font-weight: bold;">Вхід здійснено успішноо!!!</h2></p>
<%}%>
<a href="/showUsers"><h3>Переглянути всіх користувачів</h3></a>
</body>
</html>