<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users List</title>
    <style>
        body {background-color:#98bfd5;}
        th {
            font-size: 13px;
            font-weight: normal;
            background: #b9c9fe;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #039;
            padding: 8px;
        }
        td {
            background: #e8edff;
            border-bottom: 1px solid #fff;
            color: #669;
            border-top: 1px solid transparent;
            padding: 8px;
        }
        tr:hover td {background: #ccddff;}
    </style>
</head>
<div style="position: absolute; right: 20px">
<nav><a href="/">Вихід</a> | <a href="/showCadets">Курсанти</a></nav>
</div>
<div style="position: absolute; right: 20px">
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Ім'я користувача</th>
        <th>Pass користувача</th>
        <th>Email</th>
    </tr>
    <% usersList.forEach((value)=>{ %>
        <tr>
            <td><%= value.userId %></td>
            <td><%= value.userName %></td>
            <td><%= value.userPass %></td>
            <td><%= value.userEmail %></td>
        </tr>
    <% }); %>
</table>
</body>
</html>