<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users List</title>
    <style>
        body {background-color:#98bfd5;}
    </style>
</head>
<div style="position: absolute; right: 20px">
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Ім'я користувача</th>
        <th>Pass користувача</th>
        <th>Email</th>
    </tr>
    <% usersList.forEach((value)=>{ %>
        <tr>
            <td><%= value.userId %></td>
            <td><%= value.userName %></td>
            <td><%= value.userPass %></td>
            <td><%= value.userEmail %></td>
        </tr>
    <% }); %>
</table>
</body>
</html>